
<!DOCTYPE html>
<html lang="en" style="height:100%;">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png"> -->

    <title>路线编辑</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" media="screen">    
    <!-- Bootstrap theme -->
    <link rel='stylesheet' href='/bootstrap/css/bootstrap-theme.css' />

    <!-- Custom styles for this template -->
    <link href="/stylesheets/theme-webgis.css" rel="stylesheet">

    <script type="text/javascript" src="http://api.go2map.com/maps/js/api_v2.5.1.js"></script>
    <script type="text/javascript">
      // var areamap = {};
      // areamap['wudaokou'] = {
      //   center: new sogou.maps.LatLng(39.992792,116.326142),
      //   population: 2842518
      // };
      // areamap['baofusi'] = {
      //   center: new sogou.maps.Point(12949589,4835996),
      //   population: 8143197
      // };
      // areamap['zhongguancun'] = {
      //   center: new sogou.maps.LatLng(39.986017,116.31049),
      //   population: 3844829
      // }
      // var area = {
      //   center: new sogou.maps.Point(12949589,4835996),
      //   population: 8143197
      // };


      var map;
      // var points = new Array();
      var cityCircle;
      //创建3个地区范围的圆圈，半径为人口数量示意
      //圆心的坐标，可以是经纬度坐标，也可以是搜狗坐标

      function initialize() {
            var myPoint = new sogou.maps.LatLng(39.988176,116.319404);
            // var myPoint = new sogou.maps.Point(12959000,4822625);
            //定义标记样式
            var markerStyle=new sogou.maps.MarkerImage('http://api.go2map.com/maps/images/v2.0/c31.png',
                  // 蓝点图标宽16像素，高14像素
                  new sogou.maps.Size(16, 14),
                  // 原点在图片的(34,88)
                  new sogou.maps.Point(34,88),
                  // 锚点在图标中心
                  new sogou.maps.Point(8,7),
                  // 合并图片的大小
                  new sogou.maps.Size(51, 156));
            //定义带箭头的样式
            var myOptions = {
              zoom: 15,
              center: myPoint,
              mapTypeId: sogou.maps.MapTypeId.TERRAIN
            };
     
            map = new sogou.maps.Map(document.getElementById("map_canvas"), myOptions);
     
            var path=[],marker;
            sogou.maps.event.addListener(map,"click",function(evt)
            {
                //evt.point 搜狗地图坐标
                writeoutLocation(evt.point);
                placeMarker(evt.point);
                postjson(evt.point.y, evt.point.x);
            });
            //计算距离
            var convertor=new sogou.maps.Convertor();
            function calcDistance(a)
            {
                var b=0,i;
                for(i=0;i<a.length;i++)
                {
                    if(a[i+1]) b+=convertor.distance(a[i],a[i+1]);
                }
                return parseInt(b)
            }
            // sogou.maps.event.addListener(map, 'click', function(event) {
            //   //获取点击位置的坐标
            //   points.push(event.point);
            // });

      }
//定义标记样式

      function writeoutLocation(location){
        $('#lbllat').text(location.y);
        $('#lbllng').text(location.x);        
      }
      function placeMarker(location) {
        var clickedLocation = location;
        var marker = new sogou.maps.Marker({
            position: location,
            map: map
        });
       
        map.setCenter(location);
      }
      // function outputPoint(lat, lng, index, road_name){
      //   this.Lat = lat;
      //   this.Lng = lng;
      //   this.RoadName = road_name;
      //   this.IndexInList = index;
      // }
      function postjson(lat, lng){
        var str = JSON.stringify({ carID: "test", Lat: lat, Lng: lng, type:'sogou' });
        $.post("/postgps", str, function (data) {
          // alert(data);
        });
      }
      // function clearPoints(){
      //   points.length = 0;
      //   map.clearAll();
      // }
      // function exportPoints(){
      //   // $.post('/exportPoints', {type:'sogou-point', data:JSON.stringify(points)}, function(data){
      //   //     if(data.status == 'success'){
      //   //       $('#div-output').text(data.content);
      //   //     }
      //   // });
      //   // var roadName = "设置路名";
      //   var road1 = "未知道路1";
      //   var road2 = "未知道路2";
      //   var nextRoadNameList = [road1, road2];
      //   var roadName = $('#road-name').val();
      //   var pointListArray = new Array();
      //   for (var i = 0; i < points.length; i++) {
      //     var point = points[i];
      //     pointListArray.push(new outputPoint(point.y, point.x, i, roadName));
      //   };
      //   $('#div-output').text(JSON.stringify({RoadName:roadName, NextRoadNameList:JSON.stringify(nextRoadNameList), PointList: pointListArray}));
      // }
    </script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../docs-assets/js/html5shiv.js"></script>
      <script src="../../docs-assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body onload="initialize()">

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">路线编辑</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li></li>
            <!-- <li class="active"><a style="font-size:22px;" href="#">京A-12345</a></li> -->
            <li><a href="#" onclick="exportPoints()">导出</a></li>
            <li><a href="#" onclick="clearPoints()">清除</a></li>
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="当前道路名称" id = "road-name">
              </div>
              <!-- <button type="submit" class="btn btn-default">Submit</button> -->
            </form>

          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li><a id = "lbllng" href="#"></a></li>
            <li><a id = "lbllat" href=""></a></li>
          </ul>

        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div class="container theme-showcase" style="height:100%;">
    <!-- <div class="span1" style="height:98%;"></div> -->
<!--       <div style="background-color: gainsboro;
height: 35px;
line-height: 35px;
text-align: center;
font-size: 22px;
margin-bottom: 1px;">
        <p>京A-12345</p>
      </div> -->
      <div id="map_canvas" class='span8 offset2' style="height:90%;"></div>
      <div class="well" style="margin-top:5px;" id = 'div-output'>
      </div>
    </div> <!-- /container -->
<!--     <div class="page-header">
        <h1>输出</h1>
      </div> -->

<!--     <footer class="container" role="contentinfo">
    <div style = "text-align: center;">北京ABC智能物联网有限公司</div>
    </footer> -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src = "/javascripts/jquery.js"></script>
    <script src="/bootstrap/js/bootstrap.js"></script>                         
    <script type="text/javascript" src = "/javascripts/holder.js"></script>

    <!-- // <script src="../../docs-assets/js/jquery.js"></script> -->
    <!-- // <script src="../../dist/js/bootstrap.min.js"></script> -->
    <!-- // <script src="../../docs-assets/js/holder.js"></script> -->
  </body>
</html>
